---
import BaseLayout from "@/layouts/BaseLayout.astro";

BaseLayout({
  title: "Página no encontrada",
  description: "Página no encontrada",
});
---

<BaseLayout>
<h1>No se encontro la pagina</h1>
</BaseLayout>