---
import BaseLayout from "@/layouts/BaseLayout.astro";

---

<BaseLayout
  title="Página no encontrada"
  description="No se encontro esta página"
>
  <h1>No se encontro la pagina</h1>
</BaseLayout>
